body {
    background-color: rgb(163, 163, 163);
    background-image: url('https://s3.ap-northeast-2.amazonaws.com/images.codemate.kr/images/COMU/post/1640226266670/pattern.png');
    background-size: 100px;
} /*배경*/

.bookcover {
    position: absolute;
    top: 54px;
    left: 157px;
    width: 1000px;
    height: 630px;
    background-color: rgb(180, 208, 218);
    border-radius: 13px;
    border: solid rgb(175, 175, 175) 2px;
}

.bookdot {
    position: absolute;
    top: 18px;
    left: 20px;
    width: 95.5%;
    height: 93.5%;
    border-radius: 13px;
    border: dashed white 2px;
}

.page {
    position: absolute;
    top: 5.2px;
    left: 5.2px;
    width: 98.4%;
    height: 97.5%;
    background-color: rgb(233, 233, 233);
    border-radius: 12px;
    border: solid rgb(190, 190, 190) 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
} /*회색*/

.item1 {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
} /*첫번째*/

.visit {
    flex: 0.03;
    margin-bottom: 4px;
    text-align: center;
    font-size: 8pt;
} /*방문자 수*/

.red_point {
    color: red;
    font-size: 9pt;
    font-weight: bold;
} /*오늘 방문자 수*/

.black_point {
    font-size: 9pt;
    font-weight: bold;
} /*총 방문자 수*/

.profile {
    flex: 0.95;
    background-color: white;
    margin: 0px 0px -2px 3px;
    border-radius: 10px;
    border: solid rgb(168, 168, 168) 2px;
} /*프로필*/

.item2 {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    margin: 16px 0px 0px -3px;
} /*두번째*/

.item2-1 {
    flex: 0.034;
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    color: rgb(155, 155, 155);
    font-weight: bold;
} /*미니홈피 제목+주소*/

.title {
    flex: 0.7;
    margin-left: 10px;
    font-size: 16pt;
} /*미니홈피 제목*/

.address {
    flex: 0.2;
    margin-top: 12px;
    font-size: 9pt;
} /*미니홈피 주소*/

.item2-2 {
    flex: 0.95;
    background-color: white;
    border: solid rgb(168, 168, 168) 2px;
    border-radius: 10px;
} /*메인*/

.item3 {
    flex: 0.066;
    display: flex;
    flex-direction: column;
    margin: 60px -60px 0px -13px;
} /*세번째*/

.item3 a {
    flex: 0.062;
    margin-bottom: 2.5px;
    padding-top: 6px;
    border-radius: 0px 8px 8px 0px;
    border: solid rgb(19, 95, 131) 2px;
    border-left: none;
    background-color: rgb(36, 141, 180);
    color: white;
    font-size: 11pt;
    text-align: center;
    text-decoration: none;
    letter-spacing: -1px;
}

.item3 a:active {
    background-color: white;
}

#home {
    background-color: white;
    color: black;
}

.mini_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 194px;
    height: 230px;
    left: 1030px;
    font-size: 10.5pt;
}

.top {
    flex: 0.1;
    padding-top: 2px;
    color: white;
    background-color: rgb(85, 85, 85);
    border: solid rgb(168, 168, 168) 1px;
    border-radius: 5px;
    text-align: center;
}

.center {
    flex: 0.6;
    padding: 0px 8px 0px 8px;
    background-color: white;
}

.visitor {
    display: flex;
    flex-direction: row;
}

.visitor_name {
    flex: 0.5;
}

.basic {
    flex: 0.55;
    margin: 5px;
    background-color: rgb(233, 233, 233);
    border: rgb(201, 201, 201) 2px solid;
    border-radius: 5px;
}

.color {
    width: 20px;
    padding-bottom: 2px;
    background-color: orangered;
    border: orangered 2px solid;
    border-radius: 5px;
}

.color2 {
    width: 10px;
    padding-bottom: 2px;
    background-color: rgb(134, 214, 15);
    border: rgb(134, 214, 15) 2px solid;
    border-radius: 5px;
}

.color3 {
    width: 30px;
    padding-bottom: 2px;
    background-color: rgb(0, 160, 253);
    border: rgb(0, 160, 253) 2px solid;
    border-radius: 5px;
}

.simbol {
    padding: 8px 0px 8px 0px;
    border-top: dotted rgb(168, 168, 168) 1px;
    border-bottom: dotted rgb(168, 168, 168) 1px;
    text-align: center;
}
.scrap_bookmark {
    border-bottom: dotted rgb(168, 168, 168) 1px;
}

.mint_point {
    color: rgb(29, 156, 214);
    font-weight: bolder;
}

.music {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    padding: 3px 4px 0px 4px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

.music_title {
    padding: 3px 0px 3px 0px;
    background-color: white;
    border-radius: 5px;
    color:rgb(121, 121, 121);
}

.start {
    color: black;
    text-decoration: none;
}